//colores
$primarycolor: rgb(60, 6, 6);
$secundarycolor: rgb(143, 133, 88);

//fuentes
$primaryfont: Cambria;
$secundaryfont: Gill Sans;

//mapas
$colores: (
    success: #c4b107,
    danger: #020202,
    info: #555,
);